@charset "UTF-8";
html {
  font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  outline: none;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

/*a*/
a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.activeopa {
  opacity: 0.9 !important; }

.activebgd {
  background: rgba(238, 238, 238, 0.5) !important; }

.indexheader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #ccc;
  background-color: #1ab394; }
  .indexheader h3 {
    color: #fff;
    text-align: center; }

.indexbody {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  width: 100%; }
  .indexbody .indexleft {
    float: left;
    height: 100%;
    width: 180px;
    border-right: solid 1px #ccc;
    text-align: center; }
    .indexbody .indexleft .navlist li {
      height: 40px;
      line-height: 40px;
      text-align: left;
      padding-left: 20px;
      font-size: 14px; }
      .indexbody .indexleft .navlist li a {
        text-decoration: none;
        color: #000; }
        .indexbody .indexleft .navlist li a span {
          color: #1ab394;
          margin-right: 12px;
          font-size: 16px; }
    .indexbody .indexleft .navlist li:hover {
      background-color: #1ab394; }
      .indexbody .indexleft .navlist li:hover a {
        color: #fff; }
        .indexbody .indexleft .navlist li:hover a span {
          color: #fff; }
    .indexbody .indexleft #openBtn {
      position: fixed;
      left: 17px;
      top: 20px;
      font-size: 20px;
      color: #fff;
      display: none; }
    .indexbody .indexleft .list_title {
      background-color: #428bca;
      font-size: 18px;
      padding: 10px 0;
      color: #fff; }
      .indexbody .indexleft .list_title span {
        cursor: pointer; }
  .indexbody .content {
    overflow: auto;
    height: 100%;
    padding: 0 0 30px 0;
    width: 100%; }
