.productlib-box {
  overflow: auto; }
  .productlib-box table {
    margin: 0 !important; }
    .productlib-box table th, .productlib-box table td {
      text-align: center; }
  .productlib-box .productShade {
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 18px;
    width: 250px;
    margin-left: -125px;
    display: none;
    background-color: #eee; }
    .productlib-box .productShade input {
      width: 150px;
      display: block;
      margin: 0 auto; }
  .productlib-box .productShadeBackground {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7); }
