.pur_top_left {
  float: left; }

.pur_top_right {
  float: right;
  margin-right: 20px; }
  .pur_top_right .pur_search {
    height: 34px;
    width: 204px;
    border-radius: 7px; }

.pur_top {
  margin-bottom: 10px; }

.pur_concent .table thead {
  background: #d5e9ed;
  color: #09c; }
  .pur_concent .table thead tr th {
    text-align: center;
    font-weight: block; }

.pur_concent .table td, .pur_concent .table th {
  border-right: 1px solid #ccc;
  text-align: center; }

.pur_concent .table th {
  cursor: pointer;
  color: #09c;
  font-weight: normal; }

.pur_concent {
  position: relative; }
  .pur_concent .concent_right {
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
    width: 480px;
    height: 700px;
    z-index: 99;
    border: 1px solid #d5e9ed;
    background: #fff;
    box-shadow: -6px 0 0 rgba(0, 0, 0, 0.1); }
    .pur_concent .concent_right .input-group, .pur_concent .concent_right input {
      height: 40px; }
      .pur_concent .concent_right .input-group #goodsnum, .pur_concent .concent_right input #goodsnum {
        width: 100px; }
      .pur_concent .concent_right .input-group #goodsunit, .pur_concent .concent_right input #goodsunit {
        width: 100px;
        height: 40px;
        margin-left: 64px; }
    .pur_concent .concent_right .input-group-addon {
      color: #fff; }
    .pur_concent .concent_right .sjsc {
      background: #8c4;
      cursor: pointer; }
    .pur_concent .concent_right .spbh {
      background: #8bd;
      /*height:40px;*/ }

.concent_right {
  /*display: none;*/ }
  .concent_right .buttonbox {
    width: 100%;
    text-align: center; }
    .concent_right .buttonbox button {
      width: 60px;
      height: 40px; }

.buttonbox {
  margin-top: 100px; }
  .buttonbox .test {
    width: 100px !important; }
