@charset "UTF-8";
html {
  font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  outline: none;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

/*a*/
a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.activeopa {
  opacity: 0.9 !important; }

.activebgd {
  background: rgba(238, 238, 238, 0.5) !important; }

/*重置样式表*/
/*==========样式重置===========*/
html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 64px; }

body, h1, h2, h3, h4, h5, h6, p, a, input, img, ul, li, ol, dl, dt, dd {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

img {
  display: block;
  border: 0; }

input {
  outline: none; }

body {
  font-size: 12px; }

i, em {
  font-style: normal; }

a {
  text-decoration: none;
  color: #000; }

img {
  border: 0;
  display: block; }

* {
  box-sizing: border-box; }

.supplier_container {
  position: relative;
  height: 664px; }
  .supplier_container .supplier_aside {
    width: 43%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 20px;
    border-left: 7px solid rgba(219, 219, 234, 0.3);
    display: flex;
    flex-direction: column; }
    .supplier_container .supplier_aside .supplier_asideContainer {
      flex: 1;
      overflow-y: auto; }
      .supplier_container .supplier_aside .supplier_asideContainer label {
        display: inline-block;
        padding: 0 0 0 10px;
        font-size: 14px;
        color: #999;
        font-weight: normal;
        vertical-align: top; }
      .supplier_container .supplier_aside .supplier_asideContainer input {
        width: 70%;
        border: 0;
        font-size: 14px;
        padding-left: 10px; }
      .supplier_container .supplier_aside .supplier_asideContainer textarea {
        width: 73%;
        border: 0;
        resize: none;
        font-size: 14px;
        padding-left: 10px;
        overflow: hidden; }
      .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_top, .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_middle {
        border-bottom: 1px dotted #ccc;
        padding: 20px 0px 5px 0px; }
        .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_top div, .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_middle div {
          border: 1px solid #ccc;
          padding: 10px 10px 10px 0;
          margin-bottom: 15px; }
          .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_top div :hover label, .supplier_container .supplier_aside .supplier_asideContainer .supplier_aside_middle div :hover label {
            color: pink; }
    .supplier_container .supplier_aside .supplier_aside_bottom {
      width: 100%;
      height: 90px;
      padding: 10px 0;
      background: #f4f4f4; }
      .supplier_container .supplier_aside .supplier_aside_bottom input {
        float: right;
        width: 100px;
        height: 40px;
        border: 1px solid #ccc;
        margin-right: 10px;
        font-size: 16px;
        background: #fff; }
      .supplier_container .supplier_aside .supplier_aside_bottom .baocun {
        width: 150px;
        background: #09c;
        border: 0; }
  .supplier_container .supplier_aside2 {
    width: 43%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 20px;
    border-left: 7px solid rgba(219, 219, 234, 0.3);
    display: flex;
    flex-direction: column; }
    .supplier_container .supplier_aside2 .supplier_asideContainer2 {
      flex: 1;
      overflow-y: auto; }
      .supplier_container .supplier_aside2 .supplier_asideContainer2 label {
        display: inline-block;
        padding: 0 0 0 10px;
        font-size: 14px;
        color: #999;
        font-weight: normal;
        vertical-align: top; }
      .supplier_container .supplier_aside2 .supplier_asideContainer2 input {
        width: 70%;
        border: 0;
        font-size: 14px;
        padding-left: 10px; }
      .supplier_container .supplier_aside2 .supplier_asideContainer2 textarea {
        width: 73%;
        border: 0;
        resize: none;
        font-size: 14px;
        padding-left: 10px;
        overflow: hidden; }
      .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_top2, .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_middle2 {
        border-bottom: 1px dotted #ccc;
        padding: 20px 0px 5px 0px; }
        .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_top2 div, .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_middle2 div {
          border: 1px solid #ccc;
          padding: 10px 10px 10px 0;
          margin-bottom: 15px; }
          .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_top2 div :hover label, .supplier_container .supplier_aside2 .supplier_asideContainer2 .supplier_aside_middle2 div :hover label {
            color: pink; }
    .supplier_container .supplier_aside2 .supplier_aside_bottom2 {
      width: 100%;
      height: 90px;
      padding: 10px 0;
      background: #f4f4f4; }
      .supplier_container .supplier_aside2 .supplier_aside_bottom2 input {
        float: right;
        width: 100px;
        height: 40px;
        border: 1px solid #ccc;
        margin-right: 10px;
        font-size: 16px;
        background: #fff; }
      .supplier_container .supplier_aside2 .supplier_aside_bottom2 .baocun2 {
        width: 150px;
        background: #09c;
        border: 0; }
      .supplier_container .supplier_aside2 .supplier_aside_bottom2 .shangchu2 {
        width: 80px;
        float: left;
        background: #ccc;
        color: #fff;
        margin-left: 20px; }
  .supplier_container .supplier_header {
    padding: 10px 5px 10px 5px; }
    .supplier_container .supplier_header input {
      padding: 5px 0px 5px 5px;
      float: right; }
    .supplier_container .supplier_header span {
      display: inline-block;
      padding: 5px;
      background: #09c;
      color: #fff; }
    .supplier_container .supplier_header #btn {
      padding: 5px;
      background: #09c;
      color: #fff; }
  .supplier_container .table .supplier_thead {
    background: #d5e9ed; }
    .supplier_container .table .supplier_thead th {
      text-align: center;
      color: #09c; }
  .supplier_container .table .supplier_tbody th {
    text-align: center;
    color: #09c;
    font-weight: normal; }
  .supplier_container .table .supplier_tbody td {
    text-align: center; }
